<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shareapidevs.whatsappdownloader">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FullScreenSavedActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".StartingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SavedImageViewActivity"
            android:parentActivityName=".Saved" />
        <activity
            android:name=".SavedVideoViewActivity"
            android:parentActivityName=".Saved" />
        <activity
            android:name=".Saved"
            android:parentActivityName=".StartingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideoViewActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ImageViewActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName=".StartingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FullScreenViewActivity" />
        <activity
            android:name=".BaseActivity"
            android:label="@string/app_name" />
    </application>

</manifest>